<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="Style.css">
        <title>Document</title>
    </head>

    <body>
        <div>
            <h1>PDF-1 is Sucessfully Uploaded. Please Enter the PDF-2</h1>
        </div>
        <!-- Input Section -->
        <form class="upload" action="/dodoUpload" method="post" enctype="multipart/form-data">
            <label>Select files:</label>
            <input type="file" name="file" multiple accept=".pdf,.docx" />
            <button id="btn">Submit</button>
        </form>

    </body>

</html>